*, *::after, *::before {
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

.box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

/* nav bar */

.box-item-nav {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

}

.box-item-text {

	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 18em;

	padding: 0 1rem;
}


/* product listing */

.box-item-product{
	-webkit-flex: 3 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;	

	padding: 0 1rem;
}

.box-two-column-a {
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;
	background-color: #F8F8F8;
}

.box-two-column-b {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;	
}

.box-two-column-c {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;	
}

.box-three-column {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.logo {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}

.box-logo-nav {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;

}

.box-nav-bag {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

/*2 GRIDS*/
.box-2grid-left {
	-webkit-flex: 3 1 400px;
	-ms-flex: 3 1 400px;
	flex: 3 1 400px;
	padding-left: 1rem;
	margin-bottom: 5rem;

}
.box-2grid-right {
	-webkit-flex: 3 1 400px;
	-ms-flex: 3 1 400px;
	flex: 3 1 400px;
	padding-right: 1rem;
	padding-top: 0rem;	
	display: inline-block;
	align-items: center;
	padding-bottom: 10rem;

}

.box-logo-text {

	-webkit-flex: 1 1 18em;
	-ms-flex: 1 1 18em;
	flex: 1 1 18em;

	padding: 0 1rem;

}

@media (max-width: 30em) {

	.box-item-image
}