/* GENERAL STYLING */
#title {
	text-align: center;
}

body {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
	padding: 1rem;
}

section code{ 
	background-color: #EEE;
	padding: 0.5em;
}

img {
	width: auto;
	height: auto;
	max-width: ;
}


/* INTERACTIVE ELEMENTS */
a:link, a:visited {
	color: rgb(255, 51, 153);
	text-decoration: none;
}

a:hover, a:active {
	color: rgb(178, 50, 116);
	text-decoration: none;
}

.nav_button {
	padding: 2em;
}

.submit_button { 
	border: 1px solid rgb(255, 51, 153);
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.reset_button {
	color: gray;
	border: 1px solid lightgray;
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

input {
	font-size: 1em;
	color: rgb(255, 51, 153);
}

form, input {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
}


/* TEXT ELEMENTS */
h1{ 
	font-size: 2em;
}

h1, h2, h3 { 
	text-align: left;
}

p {
	text-align: left;
}

ul.list {
	list-style-type: square;
}

ol.list_number {
	list-style: lower-alpha;
}


