/* GENERAL STYLING */
.title {
	text-align: center;

}

body {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
  padding-top: 10rem;
  }
	'/*padding: 0.2rem; */
}

img {
	width: auto;
	height: auto;
	max-width: ;
}


/* INTERACTIVE ELEMENTS */
a:link, a:visited {
  color: rgb(90, 117, 47);
	text-decoration: none;
}

a:hover, a:active {
  color: rgb(65, 81, 33);
	text-decoration: none;
}


/* MAIN NAV */

.nav-main {
  position: fixed;
  background-color: white;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 10;

}

.main-nav-section {
  position: fixed;
  background-color: white;
  top: 0;
  text-align: center;
}
.nav-main-item {
  display: inline-block;
  color: #5a752f;
  padding: 0.25rem 0.5rem;
  text-align:center;

}


.nav-main-item:hover, .nav-main-item:active {
  border-bottom: rgb(65, 81, 33) 3px solid;
}

/* 
SUBMIT AND RESET BUTTONS
*/
.submit_button {
	border: 0px;
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.reset_button {
	color: #5a752f;
	border: 0px;
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.submit_button:hover, .reset_button:hover {
  background-color: #5a752f;
  color: white;
  border-radius: 0.1em;
}


/*.submit_button { 
	border: 1px solid rgb(90, 117, 47);
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.reset_button {
	color: gray;
	border: 1px solid lightgray;
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.main-navigation li a:hover {
  background-color: #5a752f;
  color: white;
}*/




input {
	font-size: 1em;
	color: rgb(90, 117, 47);
}

form, input {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
}


/* TEXT ELEMENTS */

h1{ 
	font-size: 2.2em;
  letter-spacing: 2px;

}

h1, h2, h3 { 
	text-align: left;
}

h2, h3 {
}

h4 {
  font-size: 1.3em;
}

p {
	text-align: left;
  font-weight: 400;
}

ul.list {
	list-style-type: square;
}

ol.list_number {
	list-style: lower-alpha;
}

strong { 
  font-weight: 800;
}


/* PRODUCT LISTING */

/*.products {
  display: flex;
  align-items: center;


}*/

.product-listing{
  display: inline-block;
  padding: 1rem 3rem 1rem 3rem;

}

  .text-listing { 
    padding-left: 1.3rem;
  }

ul li {
  list-style: none;
}



/**MAKE IT RESPONSIVE*
@media screen and (max-width: 500px) {  
  .product-listing{
	  width: 97%;
	  
}


  .pagewrap {
    width: 94%;
  }
  .column1 {
    width: 41%;
    padding: 1% 4%;
  }	
  .column2 {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  .column3 {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less *
@media screen and (max-width: 600px) {
  .product-listing{
	  width: 97%;
	  padding: 1% 4%;
}

  .column1 {
    width: auto;
    float: none;
  }
  
  .column2 {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  .column3 {
    width: auto;
    float: none;
  }
}
*/
