/* GENERAL STYLING */
#title {
	text-align: center;
}

body {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
	padding: 1rem;
}

section code{ 
	background-color: #EEE;
	padding: 0.5em;
}

img {
	width: auto;
	height: auto;
	max-width: ;
}


/* INTERACTIVE ELEMENTS */
a:link, a:visited {
  color: rgb(90, 117, 47);
	text-decoration: none;
}

a:hover, a:active {
  color: rgb(65, 81, 33);

	text-decoration: none;
}

.nav_button {
	padding: 2em;
}

.submit_button { 
	border: 1px solid rgb(90, 117, 47);
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.reset_button {
	color: gray;
	border: 1px solid lightgray;
	background: white;
	padding: 0.2em 1em;
	border-radius: 0.1em;
}

.main-navigation li a:hover {
  background-color: #5a752f;
  color: white;
}

/* 
DEFAULT BUTTON
*/
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #FFF; 
  border-radius: 0.25em; /*rounded edges*/
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out; /*time it takes and effect during the transition it takes (from not-hovered status to houvered) */
  transition: background-color 0.2s ease-out; /*when it is hovered status*/
}

.button-nav:hover, .button-nav:focus {
  background-color: #5a752f;/*colour of button*/
  color: #FFF; /*colour of text*/
}



input {
	font-size: 1em;
	color: rgb(90, 117, 47);
}

form, input {
	font-family: 'Ek Mukta', Helvetica, sans-serif;
}


/* TEXT ELEMENTS */
h1{ 
	font-size: 2em;
}

h1, h2, h3 { 
	text-align: left;
}

p {
	text-align: left;
}

ul.list {
	list-style-type: square;
}

ol.list_number {
	list-style: lower-alpha;
}

/* NEW NAVIGATION */
.main-navigation li a{
  display: block;
  color: #5a752f;
  padding: 8px 16px;
  text-decoration: none;
}


ul.main-navigation{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #FFF
}

/* PRODUCT LISTING */
.product-listing{
  display: inline-block;
  padding: 1rem 3rem 1rem 3rem;

}

  .text-listing { 
    padding-left: 2rem;
  }



/**MAKE IT RESPONSIVE**/
@media screen and (max-width: 500px) {  
  .product-listing{
	  width: 97%;
	  padding: 3rem;
	  
}



  .pagewrap {
    width: 94%;
  }
  .column1 {
    width: 41%;
    padding: 1% 4%;
  }	
  .column2 {
    width: 41%;
    padding: 1% 4%;
    margin: 0px 0px 5px 5px;
    float: right;
  }
  
  .column3 {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
  }

  header, footer {
    padding: 1% 4%;
  }
}

/* for 700px or less */
@media screen and (max-width: 600px) {
  .product-listing{
	  width: 97%;
	  padding: 1% 4%;
}

  .column1 {
    width: auto;
    float: none;
  }
  
  .column2 {
    width: auto;
    float: none;
    margin-left: 0px;
  }
  
  .column3 {
    width: auto;
    float: none;
  }
}
